################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Week2Work1/.vs/Week2Work1/v16
/Week2Work1 OddEven/.vs/Week2Work1 OddEven/v16
/Week2Work2/.vs/Week2Work2/v16
